<body class="<%=controller_name %> <%=action_name%>">

  <h2>Received Messages</h2>
  <div class="receivedMessages"></div>
  <br>
  <h2>Sent Messages</h2>
  <div class="sentMessages"></div>
  <br>

</div>
