<h3>Welcome back <%=@user.firstName%> <%=@user.lastName%>!</h3>


<a href="/services/new">Create a service</a>


<div id="inbox">

</div>

<div id="sold">

</div>

<div id="bought">

</div>

<div id="inProgressBuying">

</div>

<div id="inProgressSelling">

</div>


<a class="btn btn-default" href="/users/inbox">Messages</a>
