= javascript_pack_tag 'user_comp'
#userShowPage
  .col-md-12
    %h2.primrose_crimson
      Welcome back #{@user.firstName} #{@user.lastName}!
    %a{:href => "/services/new", :class => "btn btn-default"} Create a service
    .section
      #inbox

  #tables.col-md-12

  .col-md-12
    %h3 Add Friends
    %form.searchNames
      %input#user_name{:name => "user_name", :placeholder => "Enter Name", :type => "text"}/
      %button{:name => "button", :type => "submit"} Search
    #foundNames
  .col-md-12
    %a.btn.btn-default{:href => "/users/inbox"} Messages
