// Only to hold usable fonts

@font-face {
  font-family: "Lato";
  src: font_url("Lato/Lato-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: font_url("Lato/Lato-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Lato";
  src: font_url("Lato/Lato-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: font_url("Lato/Lato-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: font_url("Open_Sans/OpenSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  src: font_url("Open_Sans/OpenSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans";
  src: font_url("Open_Sans/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: font_url("Open_Sans/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: font_url("Raleway/Raleway-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: font_url("Raleway/Raleway-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Raleway";
  src: font_url("Raleway/Raleway-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: font_url("Raleway/Raleway-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: font_url("Roboto/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: font_url("Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: font_url("Roboto/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: font_url("Roboto/Roboto-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PT_Sans";
  src: font_url("PT_Sans/PT_Sans-Web-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "PT_Sans";
  src: font_url("PT_Sans/PT_Sans-Web-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "PT_Sans";
  src: font_url("PT_Sans/PT_Sans-Web-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PT_Sans";
  src: font_url("PT_Sans/PT_Sans-Web-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}