<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Universal BNB</title>
  </head>
  <body>

    <div class="">
      <h2>Welcome!</h2>
    </div>

    <div id="services-list">
			<h1>Services:</h1>
		</div>

  </body>
</html>
