%div{ :id => "services-list" }
  %h1
    Services:
.content.col-md-12
  .outer.col-md-12
    .inner.col-md-5
      %p
        stuff


    -#.services
    -#  %table
    -#    = Service.all.each do |service|
    -#      %tr
    -#        %td Name:
    -#        %td= service.name
    -#        %td Price:
    -#        %td= service.price
    -#      %tr
