!!!
%html{:dir => "ltr", :lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Universal BNB
  %body
    %div
      %h2 Welcome!
    .services
      %table
        = Service.all.each do |service|
          %tr
            %td Name:
            %td= service.name
            %td Price:
            %td= service.price
          %tr
