= javascript_pack_tag 'session_list'

%div.col-md-12{ :id => "services-listss" }
  %h1
    Services:
  #services


    -#.services
    -#  %table
    -#    = Service.all.each do |service|
    -#      %tr
    -#        %td Name:
    -#        %td= service.name
    -#        %td Price:
    -#        %td= service.price
    -#      %tr
